{% extends "base.html" %}

{% block content %}
  <div class="columns">
    <div class="column is-3 ">
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a href="{{ url_for('main.index') }}">Dashboard</a></li>
          <li><a href="{{ url_for('main.luggage') }}" class="has-background-primary has-text-white" > Add Luggage</a></li>
        </ul>

      </aside>
    </div>
    <div class="column is-9">
      <section class="hero is-primary welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Add Luggage
            </h1>

          </div>
        </div>
      </section>
      <form method="POST" action="/luggage">
        <div class="field">
          <label class="label">Luggage Owner Name</label>
          <div class="control">
            <input class="input" type="text" name="name" placeholder="User Name">
          </div>
        </div>

        <div class="field">
          <label class="label">Owner Email</label>
          <div class="control">
            <input class="input" type="email" name="email" placeholder="user@example.com">
          </div>
        </div>

        <div class="field">
          <label class="label">Laguage Description</label>
          <div class="control">
            <textarea class="textarea" name="description" placeholder="Luggage Description" spellcheck="true"></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" >Add Luggage</button>
          </div>
        </div>
      </form>

    </div>
  </div>

{% endblock %}
